

/*meow skulls 🖤#6459*/
[user_by_bdfdb="987161593982906439"],
.avatar-3EQepX[data-user-id="987161593982906439"] + *,
.member-3-YXUe[data-user-id="987161593982906439"],
.channel-2QD9_O[data-user-id="987161593982906439"],
[data-author-id="987161593982906439"],
[style*="987161593982906439"] + *,
img[src*="987161593982906439"] + * {
  --name-dummy-transparent: transparent; --name-dummy-1: 1;
  --name-gradient: #4a4a63, #b96b38;
  
}

/*Szymsta_#8805*/
[user_by_bdfdb="401028597143437322"],
.avatar-3EQepX[data-user-id="401028597143437322"] + *,
.member-3-YXUe[data-user-id="401028597143437322"],
.channel-2QD9_O[data-user-id="401028597143437322"],
[data-author-id="401028597143437322"],
[style*="401028597143437322"] + *,
img[src*="401028597143437322"] + * {
  --name-dummy-transparent: transparent; --name-dummy-1: 1;
  --name-gradient: #f024ff, #781e8a;
  
}

/*mayta knight#5186*/
[user_by_bdfdb="690336430895268300"],
.avatar-3EQepX[data-user-id="690336430895268300"] + *,
.member-3-YXUe[data-user-id="690336430895268300"],
.channel-2QD9_O[data-user-id="690336430895268300"],
[data-author-id="690336430895268300"],
[style*="690336430895268300"] + *,
img[src*="690336430895268300"] + * {
  --name-dummy-transparent: transparent; --name-dummy-1: 1;
  --name-gradient: #683a9e, #bb00ff;
  
}

/*neilfromtwt#3083*/
[user_by_bdfdb="683173020423946258"],
.avatar-3EQepX[data-user-id="683173020423946258"] + *,
.member-3-YXUe[data-user-id="683173020423946258"],
.channel-2QD9_O[data-user-id="683173020423946258"],
[data-author-id="683173020423946258"],
[style*="683173020423946258"] + *,
img[src*="683173020423946258"] + * {
  --name-dummy-transparent: transparent; --name-dummy-1: 1;
  --name-gradient: #ae6c4d, #757575;
}

/*Melon-Collie#0179*/
[user_by_bdfdb="617549593395200010"],
.avatar-3EQepX[data-user-id="617549593395200010"] + *,
.member-3-YXUe[data-user-id="617549593395200010"],
.channel-2QD9_O[data-user-id="617549593395200010"],
[data-author-id="617549593395200010"],
[style*="617549593395200010"] + *,
img[src*="617549593395200010"] + * {
  --name-dummy-transparent: transparent; --name-dummy-1: 1;
  --name-gradient: #ff0000, #0091ff;
  
}

}
